body {
  margin: 0;
  background-color: #111;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.barra-superior {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background-color: #141414;
  gap: 15px;
}

.logo {
  width: 100px;
  height: auto;
}

.barra-superior h1 {
  font-size: 35px;
  margin: 0;
}

main {
  padding: 20px;
}

.fila {
  margin-bottom: 30px;
}

.fila h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.pelis-contenedor {
  display: flex;
  overflow-x: auto;
  gap: 25px;
  padding-bottom: 15px;
  scroll-snap-type: x mandatory;
}

.pelis-contenedor::-webkit-scrollbar {
  height: 8px;
}
.pelis-contenedor::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

.pelicula {
  flex: 0 0 auto;
  width: 160px;
  scroll-snap-align: start;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.pelicula img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
}

.pelicula:hover {
  transform: scale(1.05);
  z-index: 2;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #141414;
  border-top: 1px solid #333;
}

#buscador {
  margin-left: auto;
  padding: 10px 14px;
  font-size: 25px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
  width: 200px;
  transition: width 0.3s ease;
}

#buscador:focus {
  width: 250px;
  background-color: #444;
}

.tendencias {
  margin-bottom: 40px;
}

.tendencias h2 {
  margin-bottom: 20px;
  font-size: 33px;
}

.carrusel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 15px;
  padding: 10px 0;
  scroll-snap-type: x mandatory;
}

.carrusel::-webkit-scrollbar {
  height: 5px;
}
.carrusel::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 5px;
}

.carrusel-item {
  flex: 0 0 auto;
  width: 600px; /* más chico en ancho */
  height: 340px; /* más alto para compensar */
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;
  transition: transform 0.3s ease;
}


.carrusel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.pelicula {
  cursor: pointer;
  width: 200px;
  transition: transform 0.2s ease;
}
.pelicula:hover {
  transform: scale(1.05);
}

.reproductor {
  display: none; /* oculto al principio */
  max-width: 900px;
  margin: 40px auto;
}


